body, html, section, h1, input, td, button {
    margin: 0;
    padding: 0;
}

aside, article, section, header, footer, nav {
    display: block;
}

html {
    padding: 0;
    background: #c3c3c3;
    height: 100%;
}

body {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    font: 100% Georgia, "Times New Roman", Times, serif;
    height: 100%;
}

header{
    padding: 20px;
}

h1{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
section{
    position: relative;
    width: 318px;
    margin: 60px auto;
    border: 1px solid black;
    background: #103434;
    box-shadow: 10px 10px 7px #0a1c1c;
}

input {
    text-align: right;
    width: 280px;
    margin: 20px 10px;
    height: 50px;
    background: bisque;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid white;
    border-left: 2px solid white;
    font-size: 2.8em;
    box-shadow: 5px 5px 5px black;
    padding-right:10px;
}

table{
    margin-top: 20px;
}

tr{
    height: 60px;
}

td{
    width: 59.5px;
    padding: 0 10px;
}

button{
    width: 55px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    background: #ff3a6d;
    color: white;
    box-shadow: 5px 5px 5px #0a1c1c;
    border-radius: 3px 3px;
}

button:hover{
    background: rgba(255,59,111,0.2);
    border: 2px solid rgba(255, 113, 79, 0.55);
}

.mathOperation{
    background: orange;
}

.mathOperation:hover{
    background: rgba(255,165,0,0.6);
    border: 2px solid rgba(255, 243, 132, 0.55);
}

.otherOperations{
    background: rgba(60, 14, 22, 0.95);
}

.otherOperations:hover{
    background: rgba(60, 14, 22, 0.55);
    border: 2px solid rgba(60, 14, 22, 0.45);
}

#zero{
    width: 136px;
    margin: 0 10px;
    top: 364px;
    left: 2px;
    position: absolute;
}